


.btn {
    position: relative;
    top: 500;
    right: -860;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgb(255, 255, 255);
    background-color: #131313;
   
  
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn::after {
    background-color: #131313;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  
  .key {
    position: relative;
    top: 830;
    right: -1800;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  h1 {
    text-align: center;
    position: relative;
    top: 50;
    right: 0;
    color: rgb(255, 255, 255);
    font-family: League;
    font-size: 50;
    
  
  }
  
  h3 {
    text-align: center;
    position: relative;
    top: 30;
    right: 0;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25;
    
  
  }
  
  #music-container {
              position: fixed;
              left: 0;
              right: 0;
              bottom: 20px;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;
              z-index: 3;
          }
          #music-content {
              display: inline-block;
              position: relative;
              width: 300px;
              overflow: hidden;
          }
          #play-button, #now-playing {
              display: inline-block;
              padding: 0 20px;
              animation: scroll-text 5s linear infinite; /* Fast scroll */
              color: #fff;
          }
          #music-border-left, #music-border-right {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 20px;
              color: white;
              z-index: 1;
          }
          #music-border-left {
              left: 0;
          }
          #music-border-right {
              right: 0;
          }
          @keyframes scroll-text {
              0% { transform: translateX(100%); }
              100% { transform: translateX(-100%); }
          }
  
  
          .button-container {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
  
  
          html, body {margin: 0; height: 100%; overflow: hidden}
          
      
          .content {
              top: -150;
              right: 860;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 20px;
              box-sizing: border-box;
              position: relative;
          }
  
          .pre {
              top: 10;
              right: -840;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 20px;
              box-sizing: border-box;
              position: relative;
              color: #ffff;
              font-size: 15px;
              font-weight: bold;
          }

          .prevent-select {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
          }
  
  
          @font-face {
     font-family: League;
     src: url(LeagueSpartan-Bold.otf);
  }
  
  
       
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  